header {
    background-color: none;
    padding: 15px;
    text-align: center;

}
button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
}
h1 {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2em;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
}
a:hover {
    background-color: white;
    color: #007bff;
    
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /*make the list horizontal and centered and spacing*/
    display: flex;
    justify-content: end;
    gap: 20px;
    /*add a border to the bottom of the list*/
    border-bottom: 1px solid #007bff;
    /*add padding to the bottom of the list*/
    padding-bottom: 10px;
    /*add padding to the top of the list*/
    padding-top: 10px;
}
#videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}